* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #041836, rgb(26, 85, 50));
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .inp {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.inp input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    background: none;
    outline: none;
}

.inp label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.inp span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.inp input:focus~label,
.inp input:valid~label {
    top: -1px;
    color: green;
}

.inp input:focus~span::before,
.inp input:valid~span::before {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    height: 50px;    
    background: rgba(120, 83, 144, 0.162);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover {
    /* border: white; */
    border: 2px solid white;
    transition: .5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #93737374;
}

.signup-link a {
    color: #ffffff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* input:invalid{
    animation: shake .3s;
}

@keyframes shake{
    25% { transform: translateX(4px) }
    50% { transform: translateX(-4px) }
    75% { transform: translateX(4px) }
} */